.contact-container {
  padding-top: 75px;
  width: 92%;
  margin: 0 auto;

  .contact-container__contacts-list {


    .contact-container__contacts-list__labels {

      .contact-container__contacts-list__labels__ul {
        display: flex;
        justify-content: center;
        padding: 0;

        li {
          list-style: none;
          width: 23%;
          background: rgb(245, 248, 250);
          border: 1px solid rgb(223, 227, 235);
          color: rgb(51, 71, 91);
          font-size: .95rem;
          padding: 10px;
        }
      }
    }
  }
}