.signup-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 90%;
  margin: 0 auto;
  padding-top: 70px;


  .signup__form {

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .signup__form__form__name {
      input {
        width: 45%;
      }
    }

    button {
      width: 400px;
    }

    h3 {
      font-size: 2.5rem;
      padding-bottom: 35px;
      margin: 0px;
    }

    .or {
      position: relative;
      padding-top: 35px;
      color: #b0c1d4;

      padding-bottom: 35px;

    }

    .or::before {
      content: '';
      position: absolute;
      left: 30px;
      top: 50%;
      width: 180px;
      height: 1px;
      background: #b0c1d4;
    }


    .or::after {
      content: '';
      position: absolute;
      right: 30px;
      top: 50%;
      width: 180px;
      height: 1px;
      background: #b0c1d4;
    }


    button.signup__form__button {
      color: gray;
      background: #b0c1d4;
      border: none;
      height: 40px;
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      margin-top: 20px;


      img {
        width: 15px;
        padding-left: 15px;
      }
    }
  }

  form.signup__form__form {
    padding-bottom: 35px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
      border: none;
      border-bottom: 2px solid #3347;
      margin-bottom: 35px;
      font-size: .8rem;
      outline: none;
    }

    .signup__form__form__name {
      display: flex;
      justify-content: space-between;
    }

  }

  .privacy-policy {
    width: 70%;
  }

  .incentive {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .incentive__holder {
      position: relative;

      img.incentive__image__holder__woman {
        position: relative;
        width: 400px;
        z-index: 3;
        padding-bottom: 35px;

      }


      img.incentive__image__holder__blob.two {
        position: absolute;
        height: 800px;
        top: 0%;
        width: 720px;
        margin-top: -210px;
        left: 35%;
        margin-left: -300px;
        z-index: 1;
        
      }


    }
  }
}


@media only screen and (max-width: 992px) {
  .signup-container {
    height: 100%;

    display: flex;
    flex-direction: column;

} 

}

// Login

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  margin: 0 auto;



  .login-container__form-container__form__contents__input {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    label {
      padding-bottom: 8px;
    }

    input {
      background: #f5f8fa;
      border-radius: 3px;
      border: 1px solid #cbd6e2;
      width: 450px;
      height: 40px;
      outline: none;
    }

  }
  button {
    width: 450px;
    height: 40px;
    background: #f5f8fa;
    border-radius: 3px;
    border: none;
    margin-bottom: 30px;
    border-bottom: 1px solid #f5f8fa;

  }

  .login-line {
    width: 450px;
    height: 1px;
    border-bottom: 1px solid #cbd6e2;
    margin-bottom: 30px;

  }

}