.header-container {
  width: 100%;
  height: 54px;
  background: #33475b;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-container__left-nav {
    padding-left: 100px;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h1 {
      width: 10%;
    }

  .header-container__logo {
    width: 30px;
    object-fit: contain;
    cursor: pointer;
  }
}

  .header-container__mid-nav {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;

    .header-container__mid-nav__list-item {
      position: relative;
      list-style: none;
      color: white;
      cursor: pointer;
      height: 54px;
      width: 130%;
      display: flex;
      justify-content: center;
      align-items: center;

      .header-container__mid-nav__list-item__arrow {
        padding-left: 5px;
      }

      .header-container__mid-nav__list-item-open {
        position: absolute;
        top: 54px;
        left: 0px;
        height: 200px;
        width: 130%;
        background: #253342;
        color: white;
        display: flex;
        justify-content: flex-start;

        ul {
          width: 100%;
          padding-top: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 0;
        }
        
        li {
          padding-left: 20px;
          list-style: none;
          width: 100%;
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 40px;
          margin: 0 auto;
          width: 100%;


        }

        li:hover {
          background:#657c95;
          
        }
      }

    
    }
    li:hover {
      background: #253342;
    }

   
  }

  .header-container__right-nav {
    padding-right: 100px;


    .header-container__right-nav__avatar {
      width: 35px;
      cursor: pointer;
    }
  }
}

